@import 'listas.scss';

$textos:(
    color: nth($colores, 3)
);

$titulos:(
    color: nth($colores, 2)
);

.deer-theme{
    h1, h2, h3, h4, h5{
        color: map-get($titulos,color);
        }
    p{    color: map-get($textos,color);
        }
}